<%= form_for(@doughnut) do |f| %>
  <% if @doughnut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doughnut.errors.count, "error") %> prohibited this doughnut from being saved:</h2>

      <ul>
      <% @doughnut.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dough %><br>
    <%= f.text_field :dough %>
  </div>
  <div class="field">
    <%= f.label :toppings %><br>
    <%= f.text_area :toppings %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
